{% extends "base.html.twig" %}

{% block title %}{{ titre }}{% endblock %}

{% block content %}
    <header><h1>{{ titre }}</h1></header>
    <table class="std">
        <tr>
            <th>Titre</th>
            <th>Titre original</th>
            <th colspan="3">Action</th>
        </tr>
        {# boucle de construction de la liste des cinémas #}
        {% for film in films %}
            <tr>
                <td>{{ film.titre }}</td>
                <td>{{ film.titreOriginal }}</td>
                <td>
                    <form name="movieShowtimes" action="{{ path('showtime_movie_list' , { 'filmId' : film.filmId }) }}" method="GET">
                        <input type="submit" value="Consulter les séances"/>
                    </form>
                </td>
                {% if isUserAdmin %}
                    <td>
                        <form name="modifyMovie" action="{{ path('movie_edit' , { 'filmId' : film.filmId }) }}" method="GET">
                            <input type="submit" id="modify" value="" />
                        </form>
                    </td>
                    <td>
                        <form name="deleteMovie" action="{{ path('movie_delete' , { 'filmId' : film.filmId }) }}" method="POST">
                            <input type="image" src="{{ asset('/images/deleteIcon.png') }}" alt="Delete"/>
                        </form>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        {% if isUserAdmin %}
            <tr class="new">
                <td colspan="5">
                    <form name="addMovie" action="{{ path('movie_add') }}">
                        <button class="add" type="submit">Cliquer ici pour ajouter un film...</button>
                    </form>
                </td>
            </tr>
        {% endif %}
    </table>
    <form name="backToMainPage" action="{{ path('home') }}">
        <input type="submit" value="Retour à l'accueil"/>
    </form>
{% endblock %}