{% extends "base.html.twig" %}

{% block title %}{{ titre }}{% endblock %}

{% block content %}
    {# si c'est une modification #}
    {% if film and film.filmId %}
        {% set action = path('movie_edit' , { 'filmId' : film.filmId }) %}
    {% else %}
        {% set action = path('movie_add') %}
    {% endif %}
    <h1>{{ titre }}</h1>
    <form method="POST" name="editMovie" action="{{ action }}">
        <label>Titre :</label>
        <input name="titre" type="text" value="{% if film %}{{ film.getTitre }}{% endif %}" required/>
        <label>Titre original :</label>
        <input name="titreOriginal" type="text" value="{% if film %}{{ film.getTitreOriginal }}{% endif %}" />
        <br/>
        <input type="hidden" value="{% if film %}{{ film.getFilmId }}{% endif %}" name="filmID"/>
        <input type="submit" name="saveEntry" value="Sauvegarder"/>
    </form>
    <form method="get" action="{{ path('movie_list') }}">
        <input type="submit" value="Retour à la liste"/>
    </form>
{% endblock %}
