{% extends "base.html.twig" %}

{% block title %}{{ titre }}{% endblock %}

{% block content %}
    <header><h1>{{ titre }}</h1></header>
    <form name="createUser" method="post" action="{{ path('user_add') }}">
        <!-- la longueur maximum des input est en corrélation avec la longueur maximum des champs dans la BDD -->
        <label>Prénom :</label>
        <input name='firstName' type="text" maxlength="30" value="{{ utilisateur.prenom }}" />
        <div class="error">
            {% if isFirstNameEmpty %}
                Veuillez renseigner un prénom.
            {% endif %}
        </div>
        <label>Nom :</label>
        <input name='lastName' type="text" maxlength="50" value="{{ utilisateur.nom }}" />
        <div class="error">
            {% if isLastNameEmpty %}
                Veuillez renseigner un nom.
            {% endif %}
        </div>
        <label>Adresse email :</label>
        <input name='email' type="email" maxlength="90" value="{{ utilisateur.adresseCourriel }}" />
        <div class="error">
            {% if isEmailAddressEmpty %}
                Veuillez renseigner une adresse email.
            {% elseif isUserUnique == false %}
                Cet utilisateur existe déjà !
            {% endif %}
        </div>
        <label>Mot de passe :</label>
        <input name='password' type="password"/>
        <div class="error">
            {% if isPasswordEmpty %}
                Veuillez rentrer un mot de passe.
            {% endif %}
        </div>
        <label>Confirmation :</label>
        <input name='passwordConfirmation' type="password"/>
        <div class="error">
            {% if isPasswordConfirmationEmpty %}
                Veuillez confirmer le mot de psse.
            {% elseif isPasswordValid == false %}
                Les mots de passe ne correspondent pas !
            {% endif %}
        </div>
        <input type="submit" value="Créer un nouvel utilisateur"/>
    </form>
    <form name="backToMainPage" action="{{ path('home') }}">
        <input type="submit" value="Retour à l'accueil"/>
    </form>
{% endblock %}
